[run]
source = brails

omit =
    *__init__.py

[report]
include =
    brails/types/asset_inventory.py
    brails/types/household_inventory.py
    brails/households/pyncoda/**/*.py
    brails/scrapers/census_scraper/**/*.py



