[run]
source = brails

omit =
    *__init__.py

[report]
include =
    brails/types/asset_inventory.py
    brails/types/housing_unit_inventory.py
    brails/aggregators/housing_units/pyncoda/**/*.py
    brails/scrapers/census_scraper/**/*.py



