# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*pycache*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OTHER
*.pyc
*.autosave

# Logs
debug.log

# Temporary and system files
tmp
tmp.SimCenter
.DS_Store
*#

# Build and distribution artifacts
build
/brails.egg-info/
dist
/rst-code

# Coverage reports
/.coverage
/coverage.xml

# Documentation
/docs/source/_autosummary/
/docs/source/notebooks/.ipynb_checkpoints/
/docs/source/notebooks/*.ipynb
.ipynb_checkpoints

# Example data
examples/**/*tif
examples/image_filters/filtered_images/
examples/inventory_creation/*geojson
examples/nsi_integration/*geojson
examples/housing_units/bldg_inventory.geojson
examples/housing_units/housing_units.json
examples/housing_units/pyncoda_working_dir/
	
# External tools
external_tools/

# PyCharm folders
/.idea
/.cache
/.junie

# Scripts and config
apiKey.txt
api_key.txt
*key.txt
*Key.txt
userID.sh
