# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*pycache*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OTHER
*.pyc
*.autosave

# Logs
debug.log

# Temporary files and folders
tmp
tmp.SimCenter
*#
.DS_Store
.ipynb_checkpoints
docs/source/notebooks/.ipynb_checkpoints/

# Build and distribution artifacts
build
/brails.egg-info/
dist
rst-code

# Coverage reports
/.coverage
/coverage.xml

# Documentation
/docs/source/_autosummary/
/docs/source/notebooks/*.ipynb

# Example data
examples/**/*tif
examples/image_filters/filtered_images/
examples/inventory_creation/*geojson
examples/nsi_integration/*geojson

# Scripts and config
apiKey.txt
api_key.txt
userID.sh
